.sprite { background: url('../img/img_nlxz.png') no-repeat top left; width: 64px; height: 64px;  } 
.sprite.spice_voltjelly { background-position: 0 0; } 
.sprite.spice_withered_royal_jelly { background-position: -64px 0; } 
.sprite.spices_box { background-position: -128px 0; } 
.sprite.spider_certificate { background-position: -192px 0; } 
.sprite.spider_dropper_certificate { background-position: -256px 0; } 
.sprite.spider_hider_certificate { background-position: -320px 0; } 
.sprite.spider_moon_certificate { background-position: -384px 0; } 
.sprite.spider_spitter_certificate { background-position: -448px 0; } 
.sprite.spider_warrior_certificate { background-position: -512px 0; } 
.sprite.spiderqueen_certificate { background-position: -576px 0; } 
.sprite.tentacle_certificate { background-position: -640px 0; } 
.sprite.tentaclespike { background-position: -704px 0; } 
.sprite.toil_money { background-position: -768px 0; } 
.sprite.transplant_certificate { background-position: -832px 0; } 
.sprite.trap_bat { background-position: -896px 0; } 
.sprite.trapreset_book { background-position: -960px 0; } 
.sprite.wisdom_test_certificate { background-position: -1024px 0; } 
.sprite.bottled_moonlight { background-position: -1088px 0; } 
.sprite.bottled_soul { background-position: -1152px 0; } 
.sprite.chef_certificate { background-position: -1216px 0; } 
.sprite.childishness_certificate { background-position: -1280px 0; } 
.sprite.childlike_certificate { background-position: -1344px 0; } 
.sprite.closed_book { background-position: -1408px 0; } 
.sprite.cook_certificate { background-position: -1472px 0; } 
.sprite.devour_soul_certificate { background-position: -1536px 0; } 
.sprite.immortal_fruit_oversized { background-position: -1600px 0; } 
.sprite.mandrake_seeds { background-position: -1664px 0; } 
.sprite.treadwater_certificate { background-position: -1728px 0; } 
.sprite.xinhua_dictionary { background-position: -1792px 0; } 
.sprite.wisdom_certificate { background-position: -1856px 0; } 
.sprite.valkyrie_test_certificate { background-position: -1920px 0; } 
.sprite.immortal_fruit { background-position: -1984px 0; } 
.sprite.immortal_fruit_seed { background-position: -2048px 0; } 
.sprite.immortal_gem { background-position: -2112px 0; } 
.sprite.autotrap_book { background-position: -2176px 0; } 
.sprite.bearger_chest { background-position: -2240px 0; } 
.sprite.bathingfire_certificate { background-position: -2304px 0; } 
.sprite.bee_king_certificate { background-position: -2368px 0; } 
.sprite.blank_certificate { background-position: -2432px 0; } 
.sprite.blue_crystal_certificate { background-position: -2496px 0; } 
.sprite.bosom_friend_certificate { background-position: -2560px 0; } 
.sprite.lavaeel { background-position: -2624px 0; } 
.sprite.largefishing_certificate { background-position: -2688px 0; } 
.sprite.largeminer_certificate { background-position: -2752px 0; } 
.sprite.lureplant_rod { background-position: -2816px 0; } 
.sprite.largechop_certificate { background-position: -2880px 0; } 
.sprite.large_multivariate_certificate { background-position: -2944px 0; } 
.sprite.large_devour_soul_certificate { background-position: -3008px 0; } 
.sprite.devour_staff { background-position: -3072px 0; } 
.sprite.fruit_scion { background-position: -3136px 0; } 
.sprite.lost_package { background-position: -3200px 0; } 
.sprite.down_filled_coat { background-position: -3264px 0; } 
.sprite.down_filled_coat_certificate { background-position: -3328px 0; } 
.sprite.dustmothden { background-position: -3392px 0; } 
.sprite.friendly_certificate { background-position: -3456px 0; } 
.sprite.handy_certificate { background-position: -3520px 0; } 
.sprite.handy_test_certificate { background-position: -3584px 0; } 
.sprite.harvest_certificate { background-position: -3648px 0; } 
.sprite.hat_blue_crystal { background-position: -3712px 0; } 
.sprite.headchef_certificate { background-position: -3776px 0; } 
.sprite.immortal_book { background-position: -3840px 0; } 
.sprite.immortal_essence { background-position: -3904px 0; } 
.sprite.medal_coldfirepit_obsidian { background-position: -3968px 0; } 
.sprite.medal_cookpot { background-position: -4032px 0; } 
.sprite.medal_chum { background-position: -4096px 0; } 
.sprite.medal_buried_greengem { background-position: -4160px 0; } 
.sprite.medal_childishness_chest { background-position: -4224px 0; } 
.sprite.medal_box { background-position: -4288px 0; } 
.sprite.medal_blue_obsidian { background-position: -4352px 0; } 
.sprite.medal_beequeenhivegrown { background-position: -4416px 0; } 
.sprite.medal_beequeenhive { background-position: -4480px 0; } 
.sprite.medal_clear_up_bomb { background-position: -4544px 0; } 
.sprite.medal_beequeen { background-position: -4608px 0; } 
.sprite.medal_beeguard { background-position: -4672px 0; } 
.sprite.medal_beebox { background-position: -4736px 0; } 
.sprite.medal_bee_larva { background-position: -4800px 0; } 
.sprite.medal_bee { background-position: -4864px 0; } 
.sprite.medal_gestalt { background-position: -4928px 0; } 
.sprite.medal_gift_fruit { background-position: -4992px 0; } 
.sprite.medal_gift_fruit_oversized { background-position: -5056px 0; } 
.sprite.medal_gift_fruit_seed { background-position: -5120px 0; } 
.sprite.medal_glassblock { background-position: -5184px 0; } 
.sprite.medal_glommer_essence { background-position: -5248px 0; } 
.sprite.medal_ammo_box { background-position: -5312px 0; } 
.sprite.marbleaxe { background-position: -5376px 0; } 
.sprite.marblepickaxe { background-position: -5440px 0; } 
.sprite.mandrakeberry { background-position: -5504px 0; } 
.sprite.medal_goathat { background-position: -5568px 0; } 
.sprite.medal_ice_machine { background-position: -5632px 0; } 
.sprite.medal_ivy { background-position: -5696px 0; } 
.sprite.medal_farm_plow_item { background-position: -5760px 0; } 
.sprite.medal_fishbones { background-position: -5824px 0; } 
.sprite.medal_firepit_obsidian { background-position: -5888px 0; } 
.sprite.medal_fishingrod { background-position: -5952px 0; } 
.sprite.medal_krampus_chest_item { background-position: -6016px 0; } 
.sprite.medal_livingroot_chest { background-position: -6080px 0; } 
.sprite.medal_loss_treasure_map { background-position: -6144px 0; } 
.sprite.medal_diligence_token { background-position: -6208px 0; } 
.sprite.medal_dustmoth { background-position: -6272px 0; } 
.sprite.medal_dustmeringue { background-position: -6336px 0; } 
.sprite.medal_dustmothden { background-position: -6400px 0; } 
.sprite.medal_dustmothden_base { background-position: -6464px 0; } 
.sprite.medal_loss_treasure_map_scraps { background-position: -6528px 0; } 
.sprite.medal_nitrify_tree { background-position: -6592px 0; } 
.sprite.medal_obsidian { background-position: -6656px 0; } 
.sprite.medal_pay_tribute_box { background-position: -6720px 0; } 
.sprite.medal_monster_symbol { background-position: -6784px 0; } 
.sprite.medal_moonglass_bugnet { background-position: -6848px 0; } 
.sprite.medal_inherit_page { background-position: -6912px 0; } 
.sprite.medal_plant_book { background-position: -6976px 0; } 
.sprite.medal_rage_krampus { background-position: -7040px 0; } 
.sprite.medal_rain_bomb { background-position: -7104px 0; } 
.sprite.medal_resonator_item { background-position: -7168px 0; } 
.sprite.medal_moonlight_staff { background-position: -7232px 0; } 
.sprite.medal_moonglass_shovel { background-position: -7296px 0; } 
.sprite.medal_moonglass_potion { background-position: -7360px 0; } 
.sprite.inherit_certificate { background-position: -7424px 0; } 
.sprite.justice_certificate { background-position: -7488px 0; } 
.sprite.krampus_soul { background-position: -7552px 0; } 
.sprite.immortal_staff { background-position: -7616px 0; } 
.sprite.valkyrie_certificate { background-position: -7680px 0; } 
.sprite.valkyrie_examine_certificate { background-position: -7744px 0; } 
.sprite.armor_blue_crystal { background-position: -7808px 0; } 
.sprite.armor_medal_obsidian { background-position: -7872px 0; } 
.sprite.arrest_certificate { background-position: -7936px 0; } 
.sprite.medal_shadow_tool { background-position: -8000px 0; } 
.sprite.medal_spacetime_bomb { background-position: -8064px 0; } 
.sprite.medal_spacetime_chest { background-position: -8128px 0; } 
.sprite.unsolved_book { background-position: -8192px 0; } 
.sprite.medal_naughtybell { background-position: -8256px 0; } 
.sprite.medal_naughty_krampus { background-position: -8320px 0; } 
.sprite.medal_spacetime_crystalball { background-position: -8384px 0; } 
.sprite.medal_spacetime_devourer { background-position: -8448px 0; } 
.sprite.medal_spacetime_doll { background-position: -8512px 0; } 
.sprite.medal_spacetime_glass { background-position: -8576px 0; } 
.sprite.medal_spacetime_potion { background-position: -8640px 0; } 
.sprite.medal_spacetime_spark { background-position: -8704px 0; } 
.sprite.medal_spacetime_treasure { background-position: -8768px 0; } 
.sprite.medal_statue_marble_blackegg { background-position: -8832px 0; } 
.sprite.medal_statue_marble_changeable { background-position: -8896px 0; } 
.sprite.medal_statue_marble_gugugu { background-position: -8960px 0; } 
.sprite.medal_statue_marble_potting { background-position: -9024px 0; } 
.sprite.medal_statue_marble_saltfish { background-position: -9088px 0; } 
.sprite.medal_statue_marble_stupidcat { background-position: -9152px 0; } 
.sprite.medal_tentaclespike { background-position: -9216px 0; } 
.sprite.medal_time_slider { background-position: -9280px 0; } 
.sprite.medal_spacetime_pond { background-position: -9344px 0; } 
.sprite.medal_toy_chest { background-position: -9408px 0; } 
.sprite.medal_treasure { background-position: -9472px 0; } 
.sprite.medal_treasure_map { background-position: -9536px 0; } 
.sprite.medal_treasure_map_scraps1 { background-position: -9600px 0; } 
.sprite.medal_moonglass_hammer { background-position: -9664px 0; } 
.sprite.medal_treasure_map_scraps2 { background-position: -9728px 0; } 
.sprite.medal_treasure_map_scraps3 { background-position: -9792px 0; } 
.sprite.medal_tribute_symbol { background-position: -9856px 0; } 
.sprite.medal_waterpump { background-position: -9920px 0; } 
.sprite.medal_waterpump_item { background-position: -9984px 0; } 
.sprite.medal_weed_seeds { background-position: -10048px 0; } 
.sprite.medal_withered_heart { background-position: -10112px 0; } 
.sprite.medal_withered_royaljelly { background-position: -10176px 0; } 
.sprite.medal_wormwood_flower { background-position: -10240px 0; } 
.sprite.medaldug_fruit_tree_stump { background-position: -10304px 0; } 
.sprite.medaldug_livingtree_root { background-position: -10368px 0; } 
.sprite.medalslingshotammo_devoursoul { background-position: -10432px 0; } 
.sprite.medalslingshotammo_houndstooth { background-position: -10496px 0; } 
.sprite.medalslingshotammo_sandspike { background-position: -10560px 0; } 
.sprite.medalslingshotammo_sanityrock { background-position: -10624px 0; } 
.sprite.medalslingshotammo_spines { background-position: -10688px 0; } 
.sprite.medalslingshotammo_taunt { background-position: -10752px 0; } 
.sprite.medalslingshotammo_water { background-position: -10816px 0; } 
.sprite.medal_monster_essence { background-position: -10880px 0; } 
.sprite.medal_losswetpouch { background-position: -10944px 0; } 
.sprite.mission_certificate { background-position: -11008px 0; } 
.sprite.monster_book { background-position: -11072px 0; } 
.sprite.multivariate_certificate { background-position: -11136px 0; } 
.sprite.naughty_certificate { background-position: -11200px 0; } 
.sprite.ommateum_certificate { background-position: -11264px 0; } 
.sprite.plant_certificate { background-position: -11328px 0; } 
.sprite.punchingbag_chaos { background-position: -11392px 0; } 
.sprite.medium_devour_soul_certificate { background-position: -11456px 0; } 
.sprite.medium_multivariate_certificate { background-position: -11520px 0; } 
.sprite.mediumchop_certificate { background-position: -11584px 0; } 
.sprite.rage_krampus_soul { background-position: -11648px 0; } 
.sprite.mediumfishing_certificate { background-position: -11712px 0; } 
.sprite.mediumminer_certificate { background-position: -11776px 0; } 
.sprite.merm_certificate { background-position: -11840px 0; } 
.sprite.meteor_staff { background-position: -11904px 0; } 
.sprite.sanityrock_fragment { background-position: -11968px 0; } 
.sprite.sanityrock_mace { background-position: -12032px 0; } 
.sprite.shadowmagic_certificate { background-position: -12096px 0; } 
.sprite.silence_certificate { background-position: -12160px 0; } 
.sprite.smallchop_certificate { background-position: -12224px 0; } 
.sprite.smallfishing_certificate { background-position: -12288px 0; } 
.sprite.smallminer_certificate { background-position: -12352px 0; } 
.sprite.space_certificate { background-position: -12416px 0; } 
.sprite.space_time_certificate { background-position: -12480px 0; } 
.sprite.speed_certificate { background-position: -12544px 0; } 
.sprite.medal_space_staff { background-position: -12608px 0; } 
.sprite.medal_skin_staff { background-position: -12672px 0; } 
.sprite.medal_space_gem { background-position: -12736px 0; } 
.sprite.medal_skin_coupon { background-position: -12800px 0; } 
.sprite.medal_shadowthrall_screamer { background-position: -12864px 0; } 
.sprite.medal_shadow_magic_stone { background-position: -12928px 0; } 
.sprite.medal_seawetpouch { background-position: -12992px 0; } 
.sprite.medal_seapond { background-position: -13056px 0; } 
.sprite.medal_rose_terrace { background-position: -13120px 0; } 
.sprite.medal_spacetime_runes { background-position: -13184px 0; } 
.sprite.medal_spacetime_snacks { background-position: -13248px 0; } 
.sprite.medal_spacetime_snacks_packet { background-position: -13312px 0; } 
.sprite.spice_blood_sugar { background-position: -13376px 0; } 
.sprite.spice_cactus_flower { background-position: -13440px 0; } 
.sprite.spice_jelly { background-position: -13504px 0; } 
.sprite.spice_mandrake_jam { background-position: -13568px 0; } 
.sprite.spice_moontree_blossom { background-position: -13632px 0; } 
.sprite.medal_spacetime_lingshi { background-position: -13696px 0; } 
.sprite.spice_phosphor { background-position: -13760px 0; } 
.sprite.spice_plantmeat { background-position: -13824px 0; } 
.sprite.spice_pomegranate { background-position: -13888px 0; } 
.sprite.spice_poop { background-position: -13952px 0; } 
.sprite.spice_potato_starch { background-position: -14016px 0; } 
.sprite.spice_rage_blood_sugar { background-position: -14080px 0; } 
.sprite.spice_soul { background-position: -14144px 0; }